:root{


    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;


    --primary-color: rgba(246, 246, 243, 0.8);
    --secondar-color: #04492e;
    --grey-color: grey;
    --next-green-color: #033b25;
    --hover-color: #cdfb0a;
    --hover-secondary-color: #fafafa;
    --bg-color:#fff;
    --bs-mixcolor : lenier-gradient(180deg,rgba(255,255,255,0.15),rgba(255,255,255,0));
    --text-size: 100px;
    --gutter-padding: 5.5rem 4rem;
    --bold:900;
}

/* https://mobirise.com/extensions/discretem5/bussines-site/ */